1.Python Output

In [2]:
print("Hello World")    #this print is a built-in function of python which takes input and displays the output.

Hello World

In [3]:
print("We are going to learn every important python concept essential for Data Science.")

We are going to learn every important python concept essential for Data Science.

In [4]:
print(123)

123

In [5]:
print(3.2)

3.2

In [6]:
print(True,"and",False)

True and False

In [12]:
print("Hello","Brotha.",sep="!")   #Use of sep="" for choosing what we want to separate. By default it is a space.

Hello!Brotha.

In [13]:
print("Hello World",end=".")
print("We are progressing fast",end=".")   #Use of end="" for choosing what we want to end line with.By default it is \n.

Hello World.We are progressing fast.

2.Data Types

Data Types are the type of data a programming language can deal with.

In [15]:
#1.Integer 

print(1*10^308)    #This is the limit of numbers python can handle.

#2.Float/Decimal

print(1.4)   #1.5*10^308 is the limit of decimal numbers python can handle.

#3.Boolean 

print(True,"or",False)    #Boolean simply means yes or No , also 0 or 1 and Yes or No.

#4.String

print("Hello champion!")

#5.Complex Number

print(5+4j)

#6.List (Array in C++ but a little different)

print([1,2,3,4,"Taha",2.5])

#7.Tuple 

print((1,2,3,4))

#8.Sets

print({1,3,5,7})

#9.Dictionary 

print({'Name':"Taha",'Gender':"Male"})

318
1.4
True or False
Hello champion!
(5+4j)
[1, 2, 3, 4, 'Taha', 2.5]
(1, 2, 3, 4)
{1, 3, 5, 7}
{'Name': 'Taha', 'Gender': 'Male'}

In [16]:
type(2)  #type is a function that is used to get the data type of value inserted.

int